<!doctype html>
<html>

<head>
  <meta charset='utf-8'>
  <title><%- locals.title ? `${title} – ${siteTitle}` : siteTitle %></title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='<%- busted("/css/styles.css"); %>'>
</head>

<body<%- locals.bodyClass && ` class="${bodyClass}"` %>>

  <div class='container'>

    <header id='site-header'>
      <ul>
        <li><%- activeLink('/', siteTitle); %></li>
        <li><%- activeLink('/example', 'Example Page'); %></li>
      </ul>
    </header>

    <div id='site-content'>
      <%- content %>
    </div>

    <footer id='site-footer'>
      <p>Footer goes here</p>
    </footer>

  </div>

  <script type='text/javascript' src='<%- busted("/js/scripts.js"); %>'></script>

</body>

</html>
